* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(255,255,255);
}

.front {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 75px;
    padding: 0 1em 0 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0); /* linnen */
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}

.front h1{
    text-align: right;
    flex-grow: 1;
}

.front .control-panel {
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-between;
margin: 10px;
}
.front
{grid-area: header;}

.show-room
{
    grid-area: showroom;
}
.foot
{grid-area: footer}

body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-areas:
"header"
"showroom"
"footer";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.status {
    grid-area: status;
}

.list  {
    grid-area: aside;
}

.feedback
{
    grid-area: feedback;
}

.show-room.entity  {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 55% 40%;
    grid-template-areas:
"status aside"
"feedback aside";
    margin: 10px ;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    align-self:  center;
}



.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;

}
.show-room.index {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;}

.index .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    border-radius: 25px;
    /* opmaak */
    background-color: #C3004A;
    color: rgb(255, 255, 255); /* outer space */
    font-size: 1.2em;
    margin: 1em 1em 1em 0;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    /*David edited*/
    transition-delay: 0.2s ;
    transition-timing-function: linear;
}

.show-room .tile:last-child {
    margin-bottom: 1em;
}

.show-room.index .tile:hover{
    /*David edited*/
    /*transform: scale(1.02);*/
    transition-delay: 0.2s ;
    transition-timing-function: linear;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}

.foot{
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0); /* linnen */
    -webkit-box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.5);
}

/*table SEPPe

th, td{
    border: 1px solid #ddd;
    padding: 10px;
    background-color: rgb(250, 240, 230);
    text-align: left;
}

th{
    height: 70px;
    background-color: rgb(226,69,16);
    color: rgb(250, 240, 230);
}

td  {
    height: 40px;
    text-align: left;
    vertical-align: center;
    color: rgb(226,69,16);
}
*/

/* Creating One*/

fieldset {
    margin-top: 10px;
    background-color: rgb(247,248,250);
    border: 0px solid #BFBFBF;
    box-shadow: 7px 7px 4px #e2dfdf;
    padding: 15px;
    font-size: medium;
}


input[type=text], input[type=date], select, textarea, input[type=number] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-width: auto;

}
.command-panel .tile {
    text-decoration: none;
}
.screen-reader-text {
    /* Reusable, toolbox kind of class
        voor screen readers, op die manier
        kunnen de readers lezen waarvoor
        de knop staat; de tekst is zelf
        niet zichtbaar op het scherm door negatieve
        waarden toe te kennen aan top en left*/
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: inline-block; /* Fix for clickability issue in WebKit*/
}

label{
    grid-area: label;
}

.field input {
    grid-area: text;
}

span {
    grid-area: span;
}
.field{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-areas:
            "label text ";

    padding: 3px;

}
.field.date {
    display: flex;
    flex-direction: row;
    align-items: center;

}




.detail  header{
    /*display: flex;
    flex-direction: row;*/
    align-items: center;
    width: 100%;
    min-height: 75px;
    padding: 0 1em 0 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,0); /* linnen */
}


.command-panel .tile  {
    text-decoration: none;
    border: none;
    background: none;
}


.command-panel .tile [class^="icon-"] {
    font-size: 350%;
    color: rgb(0, 0, 0); /* linnen */
    margin-right: 0.2em;
}
/*David bijgevoegde opmaak om lijn onder icoon weg te doen + kleur te behouden bij click*/
.control-panel .tile .icon-menu{
    font-size: 32px;
}
.control-panel .tile{
    text-decoration: none;
    color: #C3004A;
}

.control-panel .tile a:visited{
    color: #C3004A;
    text-decoration: none;
}
.control-panel .tile a:link{
    color: #C3004A;
    text-decoration: none;
}
.control-panel .tile a:active{
    color: #C3004A;
    text-decoration: none;
}

/*David toevoeging tab aside table voor tabel data*/

aside table{
    background-color: rgb(247,248,250);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.5);
    width: 100%;

}

tr {
    max-height: 70px;

}
aside table th{
    color: rgb(0,179,213);
    background-color: #bebebe;
    margin: 2px 5px 5px 5px;
    font-size: 1.2em;
    height: 2px;
}
aside table tr td{
    padding: 2px 5px;
    border: 1px solid #ddd;

}

tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}
tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}


aside table tr td .tile {
    text-decoration :none;
    color: rgb(0,0,0);

}


@media all and (max-width: 700px) {
    .show-room.entity{

        grid-template-areas:
    "status"
    "feedback"
    "aside";
        grid-template-columns: 90%;
    }}

@media (max-width: 700px) {
    .show-room.index {
        flex-direction: column;
    }
}

.feedback {
padding: 10px;
}