@font-face {
  font-family: 'Vos';
  src:  url('fonts/Vos.eot?1adydu');
  src:  url('fonts/Vos.eot?1adydu#iefix') format('embedded-opentype'),
  url('fonts/Vos.ttf?1adydu') format('truetype'),
  url('fonts/Vos.woff?1adydu') format('woff'),
  url('fonts/Vos.svg?1adydu#Vos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Vos' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-switch:before {
  content: "\e9b6";
}
